src/.vitepress/
coverage/
example/
tests/
.github/
.vscode/
.idea/
.husky/
docs/
*.test.ts
*.spec.ts
vitest.config.ts
eslint.config.js
.prettierrc.yml
pnpm-lock.yaml
pnpm-workspace.yaml
tsconfig.json
.commitlintrc*
CHANGELOG.md
.env*
*.log
