body {
  font-size: 18px;
}

.VPNavBarTitle {
  padding-right: 1rem;
}

@media only screen and (max-width: 640px) {
  .VPDoc {
    padding-left: 18px !important;
    padding-right: 18px !important;
  }

  .VPNavBar.top > .wrapper {
    padding-left: 18px !important;
    padding-right: 0px !important;
  }

  .VPLocalNav .menu {
    padding-left: 18px !important;
  }

  .VPLocalNavOutlineDropdown {
    padding-right: 14px !important;
  }
}

@media only screen and (max-width: 480px) {
  body {
    font-size: 16px;
  }
}

.VPHome .text {
  font-size: 2rem !important;
  line-height: 1.5 !important;
  margin-top: 2rem !important;
}

@media only screen and (max-width: 640px) {
  .VPHome .text {
    font-size: 1.5rem !important;
  }
}

.lightbox img {
  transition: transform 0.2s ease-in-out;
}

.lightbox img:hover {
  transform: scale(1.01);
  cursor: pointer;
}

.lightbox img {
  border-radius: 0.375rem;
}
