/* Custom CSS overrides for your blog */

@import 'tailwindcss';
@import 'vitepress-theme-neptu-blog/tailwind-source.css';

/* :root {
  --primary-hue: 115;
  --layout-hue: 115;
} */

/* .home-layout {
  background-image: url('https://...');
  background-color: #000000;
} */
